QMainWindow{
    background: white;
}

/*
#la_attendance {
    margin: 0 auto;
    width: 80px;
    height: 100px;
    border-style: solid 1px;
    border-radius: 35px;
    background-color: skyblue;
}
#la_late
#la_early
#la_out
#la_absent
*/